{% extends "base.html" %}

{% block content %}
    
    {% include  "includes/search-bar.html" %}
    
    {% for object in object_list %}

        <div class="list-elem">
            <h3>
                <a href="{% url 'raw_material_details' object.pk %}">{{ object.trade_name }}</a>
            </h3>
            <p>Inci: {{ object.inci_name }}</p>
            <p>noI: {{ object.natural_origin_content }} %</p>
            {% if user.is_authenticated %}
                <button class="btn gradient-border-1 box-shadow">
                    <a href="{% url 'raw_material_update' object.pk %}">Edit</a>
                </button>
            {% endif %}
            {% if user.is_staff %}
                <button class="btn gradient-border-1 box-shadow">
                    <a href="{% url 'raw_material_delete' pk=object.pk %}">Delete</a>
                </button>
            {% endif %}
        </div>

    {% endfor %}

    {% if object_list %}
        {% include "includes/paginator.html" %}
    {% else %}
        <p>No raw materials are found.</p>
    {% endif %}
    
{% endblock %}
