{% extends "base.html" %}}
{% load static %}

{% block content %}

    <div class="holder">
        <h2>Update raw material:</h2>
        <div class="card-2">
            <form class="small-form-container" name="select_form" method="get">
                {% include "includes/raw-material-selector.html" %}
                {% csrf_token %}
            </form>

            <form class="card-3 box-shadow" name="update_raw_material"
                  action="{% url 'raw_material_update' object.pk %}" method="post">

                {% include "includes/small-form-render.html" %}
                <div class="btn-container">
                    <button class="btn-2" name="button">Update</button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(document).on("change", "#select_material", function () {
                const materialId = $(this).val();

                if (materialId !== "") {
                    const currentElement = $(this)
                    const parentElement = $(this).parent().parent().parent();
                    const inputFields = parentElement.find("input");
                    console.log(inputFields)
                    const selectField = parentElement.find("select#id_material_type");
                    console.log(selectField)

                    $.ajax({
                        url: "{% url 'raw_material_autofill' %}",
                        type: "GET",
                        data: {
                            "raw_material_id": materialId
                        },
                        success: function (data) {
                            console.log(data)
                            inputFields.eq(1).val(data["name"]);
                            inputFields.eq(2).val(data["inci"]);
                            selectField.find("option[value='" + data["type"] + "']").prop("selected", true);
                            inputFields.eq(3).val(data["nat_content"]);

                            setTimeout(function () {
                                currentElement[0].selectedIndex = 0;
                            }, 450);
                        }
                    });
                }
            });
        });

        $(document).ready(function () {
            const defaultOptionText = "Select";

            $("select[id*='material_type'] option[value='']").text(defaultOptionText);
        });
    </script>
{% endblock %}