{% extends "base.html" %}

{% block content %}

    {% include  "includes/search-bar.html" %}

    <div class="holder">
        <h2>Raw materials</h2>
        <div class="btn-container">
            <div class="btn-2 box-shadow-inset"><a href="{% url 'raw_material_create' %}">Create</a></div>
        </div>
    </div>

    <div class="container">

        {% for object in object_list %}

            <div class="list-elem">
                <div class="info-container">
                    <h4>{{ object.trade_name }}</h4>
                    <p class="border-bottom"></p>
                    <p> inci: {{ object.inci_name }}</p>
                    <div class="border-bottom"></div>
                    <p>natural content:</p>
                    <p>{{ object.natural_origin_content }} %</p>
                     <div class="update-rm-button">
                        <a href="{% url 'raw_material_update' object.pk %}"><i class="fa-regular fa-pen-to-square"></i></a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="btn-container">
                        <button class="btn gradient-border-3 box-shadow-inset">
                            <a href="{% url 'raw_material_details' object.pk %}">Details</a>
                        </button>
{#                        <button class="btn gradient-border-3 box-shadow-inset">#}
{#                            <a href="{% url 'raw_material_update' object.pk %}">Update</a>#}
{#                        </button>#}
                    </div>
                {% endif %}
                {% if user.is_staff %}
                        <a class="raw-material-delete" href="{% url 'raw_material_delete' pk=object.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                {% endif %}
            </div>

        {% endfor %}
    </div>
    {% if object_list %}
        {% include "includes/paginator.html" %}
    {% else %}
        <p>No raw materials are found.</p>
    {% endif %}
    
    {% include  "includes/entrance-animation.html" %}

{% endblock %}
