{% extends "base.html" %}
{% block content %}
    <div class="holder">
        <div class="card box-shadow">
            <div class="info-container">
                <h2>Delete</h2>
                <p>Are you sure you want to delete:</p>
                <p class="border-bottom"></p>
                <p class="name-info">{{ object.company_name }}</p>
            </div>
            <form class="card-2" action="{% url 'account_profile_delete' pk=object.pk %}" method="post">
                {% csrf_token %}
                <div class="btn-container">
                    <button class="btn gradient-border-3 box-shadow-inset" type="submit"><a>Yes</a></button>
                    <div class="btn gradient-border-3 box-shadow-inset">
                        <a href="{% url "index" %}">No</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}