{% extends "base.html" %}
{% load static %}}

{% block content %}
    
    {% if object.company_logo %}
    	<img class="company-logo" src="{{ object.company_logo }}" alt="Logo">
    {% else %}
        <img class="company-logo" src="{% static 'img/company-logo.png' %}" alt="Logo">
    {% endif %} 
    
    <div id="company-name">{{ object.company.company_name }}</div>
    <div id="company-user">{{ object.get_full_name }}</div>
    
    <button><a href="{% url 'account_profile_update' pk=object.pk %}">Update</a></button>
    
	
{% endblock %}