{% extends "base.html" %}}

{% block content %}

    <div class="holder">
        <h3>Login</h3>
        <form class="form-container" action="{% url "account_login" %}" method="post">
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% for field in form %}
                <input
                        type="{{ field.widget_type }}"
                        name="{{ field.html_name }}"
                        id="{{ field.id_for_label }}"
                        value="{{ field.initial|default:"" }}"
                        placeholder="{{ field.label }}:"
                        class="form-field box-shadow-inset"
                >
                {% if field.errors %}
                    <ul class="error-list">
                        {% for error in field.errors %}
                            <li><i class="fa-solid fa-arrow-right"></i> {{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        
            {% if form.error_messages.invalid_login %}
                <ul class="error-list">
                    {% for error in form.non_field_errors %}
                        <li><i class="fa-solid fa-xmark"></i> {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        
            {% csrf_token %}
            <button class="btn-2 box-shadow-inset" id="login-button">Log in</button>
        </form>
    </div>
{% endblock %}