{% extends "base.html" %}
{% load static %}}

{% block content %}
    <div class="holder">
        <div class="card box-shadow scale-in-center">
            {% if object.company_logo %}
                <img class="company-logo gradient-border-circle box-shadow" src="{{ object.company_logo }}" alt="Logo">
            {% else %}
                <img class="company-logo gradient-border-circle box-shadow" src="{% static 'img/company-logo.png' %}" alt="Logo">
            {% endif %}

            <div class="info-container">
                <h2 id="company-name">{{ object.company.company_name|upper }}</h2>
                <p class="border-bottom"></p>
                <h4 id="company-user">{{ object.get_full_name }}</h4>
                <p class="border-bottom"></p>
                <a style="color: #0080ff" href="{{ object.company_website|default_if_none:"#" }}" id="company-user">
                    {{ object.company_website|default_if_none:"No website entered. Update profile." }}
                </a>
                <p class="border-bottom"></p>
                <p>Joined on: {{ user.date_joined|date:"d.m.Y" }}</p>
                <p class="border-bottom"></p>
            </div>
            <div class="btn-container large-button-container">
                <button class="btn gradient-border-3 box-shadow-inset">
                    <a href="{% url 'account_profile_update' pk=object.pk %}">Update</a>
                </button>
                 <button class="btn gradient-border-3 box-shadow-inset">
                    <a href="{% url 'account_profile_delete' pk=object.pk %}">Delete</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}