{% extends "base.html" %}}

{% block content %}
    <div class="holder">
        <h2>Update profile:</h2>
        <div class="card-2 scale-in-center">

            <form class="card-3 box-shadow" action="{% url 'account_profile_update' pk=object.pk %}" method="post">
                
                {% include "includes/small-form-render.html" %}

                {% csrf_token %}
                
                <div class="btn-container">
                    <button class="btn gradient-border-3 box-shadow-inset">Save</button>
                    <div class="btn gradient-border-3 box-shadow-inset">
                        <a href="{% url 'account_profile_details' pk=object.pk %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}