{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="holder">
        <h2>Product details:</h2>
        <div class="card-2 box-shadow gradient-border-4 scale-in-center">
            <h2>{{ object.product_name }}</h2>
            <p class="gradient-border-circle box-shadow-inset">
                {% if last_formula %}
                	{{ last_formula.formula_natural_content|default_if_none:"n/a" }} %
                {% else %}
                    n/a %
                {% endif %}
            </p>

            {% if last_formula %}
                <div class="info-row">
                    <a href="{% url 'product_formula_details' pk=object.pk %}">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                </div>
            {% endif %}
        
            <div class="border-bottom"></div>

            {% if last_formula %}
                <div>Description: {{ last_formula.description|default_if_none:"" }}</div>
                <div class="border-bottom"></div>

                <div>Created on: {{ last_formula.created_on|date:"d.m.Y" }}</div>
                <div>Updated on: {{ last_formula.edited_on|date:"d.m.Y" }}</div>
                <div class="border-bottom"></div>

            {% else %}

            {% endif %}

            <div class="btn-container large-button-container">

                <div class="btn gradient-border-3 box-shadow-inset">
                    <a href="{% url 'product_formula_create' %}?action=create">New formula</a>
                </div>
                <div class="btn gradient-border-3 box-shadow-inset">
                    <a href="{% url 'product_delete' object.pk %}">Delete</a>
                </div>

            </div>

        </div>
    </div>

{% endblock %}