{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="holder">
        <div class="info-container">
            <h2>{{ product_name }}</h2>
            <p class="border-bottom"></p>
            <div class="search">
                <label for="formula-desc">Description:</label>
                <form class="search-form" action="{% url 'product_formula_update_description' pk=formula_id %}"
                      id="desc-update">

                    <input class="search-field" type="text" id="formula_description"
                           value="{{ formula_description }}">

                    {% csrf_token %}
                    <a class="search-button" id="desc-submit"><i class="fa-regular fa-floppy-disk"></i></a>
                </form>
            </div>
        </div>


        <form class="form-container box-shadow scale-in-center" id="base_form"
              action="{% url 'product_calculate_noc' %}?action={{ action }}" method="post">
            {{ formset.management_form }}

            <div class="formset-container" id="container">

                {% for form in formset %}
                    <div class="" id="formula-labels-calc">
                        {% if form.prefix == "form-0" %}
                            <label for="row-num"></label>
                            {% for field in form %}
                                {{ field.label_tag }}
                            {% endfor %}
                            <label for="row-num"></label>
                        {% endif %}
                    </div>
                    <div class="form-row box-shadow swing-in-top-fwd" id="{{ form.prefix }}">
                        <div class="field-container raw-material-field">
                            {% include "includes/raw-material-selector.html" %}
                            {% if form.errors %}
                                <ul class="error-list-2">
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        {% for field in form %}
                            <div class="field-container">
                                {{ field }}
                                {% if form.errors %}
                                    <ul class="error-list-2">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </div>
                        {% endfor %}
                        <div class="delete-field">
                            <a href="#" id="remove-row"><i class="fa-solid fa-circle-minus"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="add-field">
                <a href="#" id="add-row"><i class="fa-solid fa-circle-plus"></i></a>
            </div>

            {% if error %}
                <div class="border-bottom"></div>
                <div>{{ error }}</div>
            {% endif %}

            {% csrf_token %}
            <div class="noc-container">
                <p>NOC:</p>
                <p class="gradient-border-circle-2 box-shadow" id="noc-result">n/a %</p>
            </div>
            {% if calculation_error %}
                <p>{{ calculation_error }}</p>
                <div class="border-bottom"></div>
            {% endif %}
            <div class="btn-container large-button-container">
                <button class="btn-2" id="calculate" type="submit">Save</button>
                <a class="btn-2" href="{% url 'product_list' %}">Don't save</a>
            </div>
        </form>

        <div class="sum-container">
            <p>Total sum of raw materials:</p>
            <p id="rm-sum-result">0</p>
            <p>%</p>
        </div>
    </div>

    {% include "includes/calculate-natural-content-autofill.html" %}
    <script src="{% static 'js/addRemoveRow.js' %}"></script>
    <script src="{% static 'js/calculateNaturalOrigin.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#desc-submit').click(function () {
                $('#desc-update').submit();
            });

            $('#desc-update').submit(function (event) {
                event.preventDefault();
                const formulaDescription = $('#formula_description').val();
                let formData = $(this).serializeArray();
                formData.push({name: 'formula_description', value: formulaDescription});
                formData = $.param(formData);

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}