{% extends "base.html" %}

{% block content %}

    {% include "includes/search-bar.html" %}

    <div class="holder">
        <h2>Products</h2>
        <div class="btn-container">
            <div class="btn-2 box-shadow-inset"><a href="{% url 'product_create' %}">Create</a></div>
        </div>

    </div>

    <div class="container">

        {% for object in object_list %}

            <div class="list-elem">
                <div class="info-container">
                    <h4>{{ object.product_name }}</h4>
                    <p class="border-bottom"></p>
                    <p>Natural origin content:</p>
                    <p class="gradient-border-circle box-shadow-inset">
                        {{ object.natural_content|default_if_none:"n/a" }} %
                    </p>
                </div>
                <p class="border-bottom"></p>
                {% if user.is_authenticated %}
                    <div class="btn-container">
                        <button class="btn gradient-border-3 box-shadow-inset">
                            <a href="{% url 'product_details' object.pk %}">Details</a>
                        </button>
                        <button class="btn gradient-border-3 box-shadow-inset">
                            <a href="{% url 'product_update' object.pk %}">Change Name</a>
                        </button>
                    </div>
                {% endif %}
            </div>

        {% endfor %}
    </div>

    {% if is_paginated %}
        {% include "includes/paginator.html" %}
    {% endif %}

    {% if not object_list %}
        <p>No products are found.</p>
    {% endif %}

    {% include "includes/entrance-animation.html" %}
{% endblock %}