{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="holder">
        <div class="info-container">
            <h2>{{ product_name }}</h2>
            <p class="border-bottom"></p>
            <p>Description: {{ formula_description }}</p>
            <p class="border-bottom"></p>
        </div>


        <form class="form-container box-shadow scale-in-center" id="base_form" action="{% url 'product_calculate_noc' %}" method="post">
            {{ formset.management_form }}

            <div class="form-container" id="container">

                {% for form in formset %}
                    <div class="form-row box-shadow swing-in-top-fwd" id="{{ form.prefix }}">
                        <div class="field-container raw-material-field">
                            {% include "includes/raw-material-selector.html" %}
                        </div>
                        {% for field in form %}
                            <div class="field-container">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <ul class="error-list-2">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
            <div>{{ error }}</div>
            {% csrf_token %}
            <button class="btn-2" id="calculate" type="submit">Calculate</button>
        </form>
        <div class="sum-container">
            <p>Total sum of raw materials:</p>
            <p id="rm_sum_result">0</p>
            <p>%</p>
        </div>
        <div class="btn-container" id="calc-container">
            <button class="btn box-shadow-inset" id="add-row">Add row</button>
            <button class="btn box-shadow-inset" id="remove-row">Remove row</button>
        </div>
    </div>
    <script src="{% static 'js/calculateNaturalOrigin.js' %}"></script>

    {% include "includes/calculate-natural-content-autofill.html" %}

{% endblock %}