{% extends "base.html" %}

{% block content %}
    
    <div>
        <p>{{ product.product_name }}</p>
        <p>{{ object.description|default_if_none:"" }}</p>
        {% for formula_material, raw_material in related_raw_materials.items %}
            <div>
                <p>{{ raw_material.trade_name }}</p>
                <p>{{ raw_material.inci_name }}</p>
                <p>{{ formula_material.raw_material_content }}</p>
                <p>{{ raw_material.natural_origin_content }}</p>
                <p>{{ raw_material.material_type }}</p>
            </div>
        {% endfor %}
        <p>Natural content in %: {{ product.natural_content }}</p>
    </div>

{% endblock %}