{% extends "base.html" %}

{% block content %}
    
    {% include  "includes/search-bar.html" %}
    
    {% for object in object_list %}

        <div class="list-elem">

            <h3>Product name: {{ object.product_name }}</h3>
            <p>Natural origin content: {{ object.natural_content }} %</p>
            {% if user.is_authenticated %}
                
                <button class="btn gradient-border-1 box-shadow"><a href="{% url 'product_details' object.pk %}">View</a></button>
                <button class="btn gradient-border-1 box-shadow"><a href="{% url 'product_update' object.pk %}">Update</a></button>
                
            {% endif %}
        
        </div>

    {% endfor %}

    {% if object_list %}
        {% include "includes/paginator.html" %}
    {% else %}
        <p>No products are found.</p>
    {% endif %}
{% endblock %}