{% extends "base.html" %}

{% block content %}
    <div class="holder">
    <h2>Update product name:</h2>
        <div class="card-2 box-shadow gradient-border-4 scale-in-center">
            
            <form class="small-form-container" action="{% url 'product_update' pk=object.pk %}" method="post">

                {% include "includes/small-form-render.html" %}

                {% csrf_token %}
                
                <div class="small-button-container">
                    <button class="btn gradient-border-3 box-shadow-inset">Update</button>
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}