{% extends "base.html" %}

{% block content %}
    <div>
        <h3>{{ object.product_name }}</h3>
        <p>{{ object.natural_content|default_if_none:"" }}</p>

        {% if latest_formula %}
            <div><a href="{% url 'product_formula_details' pk=latest_formula.pk %}">Latest
                formulation: {{ latest_formula.created_on|date:"d.m.Y" }}</a></div>
            <div>Description: {{ latest_formula.description|default_if_none:"" }}</div>
        {% else %}

        {% endif %}
    </div>
    <button class="btn gradient-border-3 box-shadow-inset">
        <a href="{% url 'product_formula_create' %}">Create formula</a>
    </button>
    <button class="btn gradient-border-3 box-shadow-inset">
        <a href="{% url 'product_delete' object.pk %}">Delete</a>
    </button>



{% endblock %}