{% extends "base.html" %}

{% load static %}

{% block load_styles %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
{% endblock %}

{% block content %}
    
    <h3>{{ product_name }}</h3>
{#    <h4>{{ description }}</h4>#}
    <form id="base_form" action="{% url 'product_calculate_noc' %}" method="post">
        {{ formset.management_form }}
    
        <div id="container">

            {% for form in formset %}
                <div id="{{ form.prefix }}">
                    {% include "includes/raw-material-selector.html" %}
                    {{ form }}
                </div>
            {% endfor %}

        </div>
        <div>{{ error }}</div>
        {% csrf_token %}
        <button id="calculate" type="submit">Calculate</button>
    </form>

    <button id="add-row">Add row</button>
    <button id="remove-row">Remove row</button>

    <script src="{% static 'js/calculateNaturalOrigin.js' %}"></script>
    {% include "includes/calculate-natural-content-autofill.html" %}

{% endblock %}