{% extends "base.html" %}

{% block content %}
    <div class="about">
        <h1>About Natural Origin Content Calculator</h1>
        <section>
            <h3>Purpose and Description</h3>
            <p>I created this project as a tool for calculating the "Natural Origin Content" of cosmetic products
                according
                to
                the requirements of ISO 16128. The purpose is to provide companies with a convenient way to perform
                calculations
                using a database of raw materials and automate the process. Users can create profiles to store their
                calculations and contribute to adding raw materials to the database. The project aims to simplify the
                calculation process and facilitate the work of cosmetic R&D specialists.</p>
        </section>

        <section>
            <h3>Team Information</h3>
            <p>The project is developed and maintained by Ivan Partsunev, a cosmetic R&D specialist. The motivation
                behind
                the
                project is to provide a free and accessible tool for users to perform natural origin content
                calculations
                more
                easily.</p>
        </section>

        <section>
            <h3>Project Goals and Objectives</h3>
            <p>The goal of the project is to become a widely used instrument for making natural origin content
                calculations,
                ultimately facilitating the work of individuals and companies in the cosmetic industry.</p>
        </section>

        <section>
            <h3>Functionality</h3>
            <ul>
                <li>Free access to a database containing all registered raw materials</li>
                <li>Ability to add and edit raw materials in the database</li>
                <li>Creation of user profiles to store and manage calculations</li>
                <li>Storage of full formulations in the database</li>
                <li>Possibility to save only calculation results or entire formulations</li>
            </ul>
        </section>

        <section>
            <h3>Future Functionalities</h3>
            <ul>
                <li>Updating existing formulations</li>
                <li>Direct links to raw materials for additional information</li>
                <li>Exporting documents with calculation results</li>
            </ul>
        </section>

        <section>
            <h3>Contact Information</h3>
            <p>Name: Ivan Partsunev</p>
            <p>Email: ivan.partsunev@gmail.com</p>
            <p>Phone: +359889972797</p>
        </section>
    </div>
{% endblock %}