<nav class="navigation">
    <ul>
        {% if not user.is_authenticated %}
            <li><a href="{% url "account_registration" %}">Register</a></li>
            <li><a href="{% url "account_login" %}">Login</a></li>
        {% else %}
            <li><a href="{% url "account_logout" %}">Logout</a></li>
            <li><a href="{% url "create_raw_material" %}">Create RM</a></li>
            <li><a href="{% url "raw_materials" %}">List RM</a></li>
            <li><a href="{% url "calculate_noi" %}">Calculate</a></li>
        {% endif %}
    </ul>
</nav>