<nav class="navigation">
    <ul>
        <li><a href="{% url "raw_material_list" %}">List RM</a></li>
        {% if not user.is_authenticated %}
            <li><a href="{% url "account_registration" %}">Register</a></li>
            <li><a href="{% url "account_login" %}?next={{ request.path }}">Login</a></li>
            
        {% else %}
            <li><a href="{% url "account_logout" %}">Logout</a></li>
            <li><a href="{% url "raw_material_create" %}">Create RM</a></li>
            <li><a href="{% url "product_create" %}">Create product</a></li>
            <li><a href="{% url "product_list" %}">List of products</a></li>
            <li><a href="{% url "account_profile_details" pk=user.pk %}">Profile</a></li>
        {% endif %}
    </ul>
</nav>