<div class="search">
    <form class="search-form" role="search" method="get">
            <input
                    type="text"
                    name="search_query"
                    id="{{ search_form.field.id_for_label }}"
                    value="{{ request.GET.search_query }}"
                    placeholder="Search..."
                    class="search-field"
            >
        {% csrf_token %}
        <button class="search-button"><i class="fa-solid fa-magnifying-glass fa-sm"></i></button>

    </form>
</div>
