<div class="search">
    <form class="search-form box-shadow" method="get">
            <input
                    type="{{ search_form.field.widget_type }}"
                    name="{{ search_form.field.html_name }}"
                    id="{{ search_form.field.id_for_label }}"
                    value="{{ field.initial|default:"" }}"
                    placeholder="Search..."
                    class="search-field"
            >
        {% csrf_token %}
        <button class="search-button"><i class="fa-solid fa-magnifying-glass fa-sm"></i></button>

    </form>
</div>
