{% extends "base.html" %}
{% load static %}

{% block load_styles %}
    {#    <link rel="stylesheet" href="{% static 'css/color-schemes/create-color-scheme.css' %}">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <form id="base_form" action="{% url 'calculate_noi' %}" method="post">
        {{ formset.management_form }}

        <div id="container">

            {% for form in formset %}
                <div id="{{ form.prefix }}">
                    {% include "includes/raw-material-selector.html" %}
                    {{ form }}
{#                    {% include "includes/raw-material-form-render.html" %}#}
                </div>
            {% endfor %}

        </div>
        {% csrf_token %}
        <button id="calculate" type="submit">Calculate</button>
    </form>


    <button id="add-row">Add row</button>
    <button id="remove-row">Remove row</button>

    <script src="{% static 'JS/calculateNaturalOrigin.js' %}"></script>
    {% include "includes/calculate-natural-content-autofill.html" %}

{% endblock %}