{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Origin Content</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
    </style>
    <script src="https://kit.fontawesome.com/58eaeed2de.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block load_styles %}
    {% endblock %}
</head>
<body>
<header>
    {% include "includes/navigation.html" %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div id="about">
        <section class="card-3 box-shadow">
            <p><a href="{% url 'about' %}">About</a></p>
            <p><a href="#">Terms</a></p>
            <p><a href="#">Privacy</a></p>
        </section>
        <p>
            © 2024 Natural Origin, Inc.
        </p>
    </div>
    <div>
        <p>Contacts:</p><br>
        <p>Name: Ivan Partsunev</p>
        <p>Email: ivan.partsunev@gmail.com</p>
        <p>Phone: +359889972797</p>
        <p>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-telegram"></i>
            <i class="fa-brands fa-tiktok"></i>
        </p>
    </div>
</footer>
</body>
</html>