{% extends "base.html" %}}
{% load static %}

{% block load_styles %}
{#    <link rel="stylesheet" href="{% static 'css/color-schemes/update-color-scheme.css' %}">#}
{% endblock %}

{% block content %}

    <h1>Update raw material</h1>
    <form name="select_form" method="get">
        {% include "includes/raw-material-selector.html" %}
        {% csrf_token %}
    </form>
    
    <form name="update_raw_material" action="{% url 'raw_material_update' object.pk %}" method="post">
        {% include "includes/raw-material-form-render.html" %}
        
        <button name="button">Update</button>
        {% csrf_token %}
    </form>
    <script src="{% static 'JS/updateRawMaterial.js' %}"></script>
{% endblock %}