.btn-container {
    display: flex;
    min-width: 100%;
    max-height: 18%;
    justify-content: center;
    gap: 0.2em;
    align-self: flex-end;
}

.small-button-container {
    display: flex;
    align-items: center;
    width: 30%;
    height: 20%;
    justify-content: center;
}

.btn {
    flex: 1 1;
    min-width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding-block: 0.2em;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) padding-box,
    linear-gradient(0deg, rgba(235, 246, 255, 0.7) 0%, rgba(59, 178, 184, 0.7) 0%, rgba(66, 230, 149, 0.7) 70%) border-box;
    border-radius: 0.5em;
    border: 2px solid transparent;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.btn-2 {
    flex: 1 1;
    max-width: 20%;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding-block: 0.3em;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) padding-box,
    linear-gradient(0deg, rgba(157, 63, 251, 0.7) 0%, rgba(252, 70, 107, 0.7) 100%) border-box;
    border-radius: 1em;
    box-shadow: inset 0 0 0.3em 0 rgba(0, 0, 0, 0.8), 0 0 0.3em 0 rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.btn a,
.btn-2 a {
    padding: 0.3em 1em 0.3em 1em;
    font-size: calc(0.6vw + 0.6vh);
}

.btn:hover,
.btn-2:hover,
.btn:focus,
.btn-2:focus {
    outline: none;
    box-shadow: inset 0 0 0.1em 0 rgba(0, 0, 0, 0.1), 0 0 0.4em 0 rgba(0, 0, 0, 0.8);
}

.btn:active,
.btn-2:active {
    transform: scale(1.2);
}

.raw-material-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 85%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 3em;
    width: auto;
    aspect-ratio: 1;
    padding: 0.1em;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) padding-box,
    linear-gradient(0deg, rgba(157, 63, 251, 0.7) 0%, rgba(252, 70, 107, 0.7) 100%) border-box;
    border: 2px solid transparent;
    transition: 0.3s transform ease, 0.2s box-shadow;
}

.raw-material-delete:hover {
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.5);
}

.raw-material-delete:active {
    transform: translate(-50%, -50%) scale(1.5);
}

button#login-button,
button#register-button {
    min-width: 40%;
}

.pdf-icon {
    font-size: 2.5em;
    width: 1em;
    height: auto;
    position: absolute;
    bottom: 5%;
    right: 1%;
}

@media (max-width: 800px) {
    .btn {
        max-width: 40%;
        border: 1px solid transparent;
    }

    .btn-2 {
        max-width: 40%;
        border: 1px solid transparent;
    }

    .btn a,
    .btn-2 a {
        font-size: calc(1.3vw + 1.3vh);
    }

    .raw-material-delete {
        border: 1px solid transparent;
        font-size: 1.2em;
        height: 25%;
        left: 88%;
    }

    .small-button-container {
        width: 100%;
    }
}