.btn-container {
    display: flex;
    width: 100%;
    height: 2em;
    justify-content: center;
    gap: 0.2em;
    align-self: flex-end;
}

.large-button-container {
    height: 2.5em;
    width: 50%;
    align-self: center;
}

.small-button-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2em;
    justify-content: center;
    margin-block: 1em;
}

.btn {
    flex: 1 1;
    max-width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) padding-box,
    linear-gradient(0deg, rgba(235, 246, 255, 0.7) 0%, rgba(59, 178, 184, 0.7) 0%, rgba(66, 230, 149, 0.7) 70%) border-box;
    box-shadow: inset -3px -4px 20px -16px rgba(0, 0, 0, 0.8), 0 0 0.3em 0 rgba(0, 0, 0, 0.0);
    border-radius: 0.5em;
    border: 2px solid transparent;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.btn-2 {
    flex: 1 1;
    max-width: 30%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)) padding-box,
    linear-gradient(0deg, rgba(157, 63, 251, 0.7) 0%, rgba(252, 70, 107, 0.7) 100%) border-box;
    border-radius: 1em;
    box-shadow: inset -3px -4px 20px -15px rgba(0, 0, 0, 0.8), 0 0 0.3em 0 rgba(0, 0, 0, 0.0);
    border: 2px solid transparent;
    transition: box-shadow 0.3s ease, transform 0.1s ease;
}

.btn:hover,
.btn-2:hover,
.btn:focus-within,
.btn-2:focus-within {
    box-shadow: inset 0 0 0.1em 0 rgba(0, 0, 0, 0.1), 0 0 0.4em 0 rgba(0, 0, 0, 0.8);
    color: black;
}

.btn:active,
.btn-2:active {
    transform: scale(1.1);
}

button#login-button,
button#register-button {
    min-width: 40%;
}

.pdf-icon {
    display: block;
    position: absolute;
    font-size: 2.5em;
    width: 1em;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.icon-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 0.5em;
}

.icon-bar a {
    color: rgb(84, 84, 84, 0.5);
    transition: 0.3s color ease;
    padding: 0.1em;
}

.icon-bar a:hover {
    color: rgb(84, 84, 84, 1);
}

.icon-bar a:active,
.icon-bar a:focus {
    color: white;
    background-color: rgba(84, 84, 84, 1);
    border-radius: 0.3em;
}

div#edit-button {
    position: absolute;
    top: 15%;
    right: 3%;
}

@media (max-width: 800px) {
    .btn {
        max-width: 40%;
        border: 1px solid transparent;
    }

    .btn-2 {
        max-width: 40%;
        border: 1px solid transparent;
    }

    .btn a,
    .btn-2 a {
        font-size: calc(1.3vw + 1.3vh);
    }

    .small-button-container,
    .large-button-container {
        width: 100%;
    }
}