.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
    background-color: white;
    margin-top: 1em;
}

.formset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.small-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 1em;
}

.small-form-container button {
    margin-top: 2em;
}

.form-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.2em;
    border-radius: 0.5em;
    overflow: hidden;
    transition: 0.7s box-shadow ease;
}

.form-row:hover {
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.4);
}

.form-row:focus-within {
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.2);
}

.field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.large-fields {
    flex: 1 1 26%;
}

.small-fields {
    flex: 1 1 5%;
}

.type-fields {
    flex: 1 1 15%;
}

.raw-material-field {
    flex: 1 1 8%;
}

.small-fields > input::placeholder {
    text-align: right;
}

.large-fields input,
.small-fields input,
.type-fields select,
.raw-material-field select {
    padding-block: 0.1em;
    border: none;
    transition: 0.4s box-shadow ease;
}

.large-fields input:focus,
.small-fields input:focus {
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.3) inset;
}

.small-fields input {
    text-align: right;
}

.field-container select,
.field-container input {
    height: 1.8em;
    padding-inline: 0.5em;
    width: 100%;
    border-right: 1px solid rgb(84, 84, 84, 0.3);
    background-color: white;
    transition: 0.3s box-shadow ease;
}

.field-container select:focus,
.field-container input:focus {
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.3) inset;
}

.field-container select:focus::placeholder,
.field-container input:focus::placeholder {
    opacity: 50%;
}

.field-container select {
    color: rgb(84, 84, 84, 0.8);
}

.form-field:focus {
    border: none;
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.5);
}

.add-field,
.delete-field,
.info-row {
    display: block;
    width: 4%;
    padding: 0.2em;
}

.add-field a,
.delete-field a,
.info-row a {
    outline: none;
    opacity: 0.5;
    transition: 0.3s color ease, 0.3s opacity ease, 0.3s transform ease;
}

.delete-field a:hover,
.delete-field a:focus {
    opacity: 1;
    transform: scale(1.1);
    color: rgba(217, 27, 27, 0.8);
}

.add-field a:hover,
.add-field a:focus {
    opacity: 1;
    transform: scale(1.1);
    color: rgba(38, 145, 20, 0.8);
}

.info-row a:hover,
.info-row a:focus {
    opacity: 1;
    transform: scale(1.1);
    color: rgba(37, 75, 192, 0.8);
}

.noc-container p#noc-result:active,
.delete-field a:active,
.info-row a:active {
    transform: scale(1.5);
}

.error-list {
    padding: 0.1em 0 0 1em;
    font-size: 0.6em;
    color: rgba(248, 67, 67, 0.8);
    width: 50%;
    right: 0;
    border-top: 1px solid rgb(84, 84, 84, 0.3);
}

.error-list-2 {
    padding: 0 0 0.3em 0.5em;
    font-size: 0.7em;
    color: rgba(248, 67, 67, 0.8);
    width: 100%;
    right: 0;
    border-top: 1px solid rgb(84, 84, 84, 0.3);
}

.noc-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-inline: 1em;
    font-size: 0.7em;
    gap: 1em;
}

.noc-container p#noc-result {
    transition: 0.3s box-shadow ease, 0.3s transform ease;
}

.noc-container p#noc-result:hover {
    box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.8);
}

.small-form-container > div > select {
    background-color: white;
    box-shadow: inset 0 -1px 5px 0 rgba(84, 84, 84, 0.4), 0 0 0.3em 0 rgba(0, 0, 0, 0);
    border-radius: 7px;
    padding: 0.3em;
}

.field-container > #select_material {
    border-radius: 7px 0 0 7px;
}

div#details-btn-container {
    margin: 3em 0 0 0;
}

@media (max-width: 800px) {
    .form-container {
        padding: 1em 0.2em 1em 0.2em;
    }

    .small-form-container {
        width: 80%;
    }

    .noc-container {
        font-size: 1em;
    }

}