.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid rgb(84, 84, 84, 0.8);
    box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.62);
}

.site-logo-container {
    border-radius: 1em;
}

nav ul {
    display: flex;
    max-width: 100%;
    padding: 0.6em 0.2em 0.6em 0.2em;
    margin: 1.2em 0 0.4em 0;
}

nav ul li {
    display: flex;
    flex: 2 1 100%;
    align-items: center;
    white-space: nowrap;
    padding: 0 1em 0 1em;
    background: none;
}

nav ul li:last-child {
    border: none;
}

nav ul li a {
    font-size: calc(0.7vw + 0.7vh);
    transition: 0.2s color ease;
}

nav ul li a:hover {
    color: black;
}


@media (max-width: 800px) {

    .navigation {
        justify-content: center;
        padding-inline: 0;
    }

    nav ul {
        width: 100%;
        padding: 0.1em 0.2em 0.1em 0.2em;
    }

    nav ul li {
        padding: 0 0.5em 0 0.5em;
    }

    nav ul li a {
        font-size: calc(1.2vw + 1.2vh);
    }
}

