*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form input,
textarea,
select {
    border: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

header, footer {
    /*padding: 1em 0 0 0;*/
}

form {
    width: 100%;
}

label {
    padding-inline: 0.5em;
}

a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: rgb(84, 84, 84, 1);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

li {
    display: block;
    list-style: none;
}





