.search {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    margin-block: 1em;
}

.search-form {
    display: flex;
    width: 50%;
    padding-block: 0.2em;
    border-radius: 1em;
    background: white;
}

.search-field {
    padding: 0.3em 0 0.3em 1em;
    width: 90%;
    border-radius: 1em 0 0 1em;
    font-size: calc(0.6vw + 0.6vh);
    color: rgb(84, 84, 84, 1);
    border: none;
    border-right: 1px solid rgb(84, 84, 84, 0.8);
}

.search-button {
    width: 10%;
    border-radius: 0 1em 1em 0;
    border: none;
    background: white;
}

.search-button i {
    color: rgb(84, 84, 84, 0.8);
}

@media (max-width: 600px) {
    .search-form {
        width: 100%;
    }
}