.search {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    margin: 0 0 1em 0;
}

.search-form {
    display: flex;
    width: 50%;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    background: white;
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s box-shadow ease;
}

form.search-form:focus-within {
    box-shadow: 0 0 0.2em 0 rgba(0, 0, 0, 1);
}

.search-field {
    padding: 0.3em 0 0.3em 1em;
    width: 90%;
    border-radius: 1em 0 0 1em;
    font-size: 1em;
    color: rgb(84, 84, 84, 1);
    border: none;
    border-right: 1px solid rgb(84, 84, 84, 0.8);
}

.search-button {
    text-align: center;
    width: 10%;
    border-radius: 0 1em 1em 0;
    border: none;
    background: white;
}

.search-button i {
    color: rgb(84, 84, 84, 0.8);
    transition: 0.3s transform ease;
}

.search-button i:active {
    transform: scale(1.5);
}

@media (max-width: 600px) {
    .search-form {
        width: 100%;
    }

    .search-field {
        padding: 0.5em 0.5em;
        font-size: calc(1.2vw + 1.2vh);
    }
}